@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", "san-serif";
  text-align: center;
  color: var(--dark-grayish-blue);
  margin: 0;
}
header {
  background-image: url("./images/bg-header-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 0;
}
.container {
  margin: 30px auto;
  max-width: 100%;
  width: 1200px;
  padding:  0 20px;
}
.container-small {
  width:500px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
p{
    line-height: 1.5;
    color: hsl(201, 11%, 66%);
}
.flex > * {
  flex: 1;
  padding: 10px;
}
footer ul a{
    color: hsl(210, 10%, 33%);
    text-decoration: none;
}
.btn {
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  margin: 15px 5px;
  font-size: 16px;
}
.btn-primary {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 4px hsl(171, 66%, 36%);
}
.btn-secondary {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 4px hsl(233, 71%, 61%);
}
footer{
    background-color:  hsl(201, 11%, 66%);
}
footer .links{
    flex: 3;
}
footer img{
    width: 60px;
}
footer ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}
section {
    padding: 30px 0;
}
footer .links li {
margin-right: 40px;
padding: 10px;
}
footer .social li{
    margin: 0 5px;
}
footer .social a{
    font-size: 24px;
    margin-right: 5px;
}
footer .container{
    margin-bottom: 0;
}
@media(max-width:768px){
    .flex{
    flex-direction: column;
    }
    footer .links li{
        padding: 10px;
        margin-right: 0;
    }
}